.icon {
    
    margin-bottom: 3px;
    background-color: rgb(46, 46, 46);
    /* border-radius: 5px; */
    color: rgb(255, 255, 255);
    font-size: 30px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    
    
  }
  .services {
      text-align: center;
  }