.banner{
    background-image: url("https://www.vippng.com/png/detail/83-835052_music-transparent-music-png.png"),linear-gradient(rgba(0, 0, 0, 0.164),rgba(0, 0, 0, 0.212)) ;
    height: 780px;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.title{
    color:rgb(143, 103, 180);
    font-weight: bold;
    font-size: 59px;
}
.about-btn {
    background-color: #0d96f1;
    outline: none;
    border: none;
    padding: 10px 20px;
    color: white;
    font-weight: 500;
    border-radius: 5px;
  }